@import url('https://fonts.googleapis.com/css2?family=Borel&family=Open+Sans:wght@700&family=Phudu:wght@500&family=Poppins&family=Roboto:ital@1&display=swap');

#netflixlogo {
    height: 23px;
  position: absolute;
  padding-left: 65px;
  padding-top: 0px;
}

.nav1{
    background-image: none;
    color: white;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
  }

#navbar {
    color: white;
  }

  body{
    background-image: url(https://raw.githubusercontent.com/Kalvium-Program/netflix-clone-boilerplate/main/assets/Title-Image.png);
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    
    /* background-size: 100% 100%; */
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
  .container2 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 150px;
    padding-left: 1250px;
  
  }
  .container{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 270px;
    padding-top: 0px;
    padding-left: 170px;
    margin-top: 0px;
}

.nav2{
    height: 20px;
}


.img{
    height: 70px;
    padding-top: 400px;
    padding-left: 50px;
}

.para{
    padding-top: 0%;
    padding-left: 100px;
    font-size: 20px;
    color: white;
}

@media only screen and (max-width: 768px) {

  /* Adjustments for Netflix logo */
  #netflixlogo {
    padding-left: 10px;
  }

  /* Adjustments for container2 */
  .container2 {
    padding-left: 10px;
    padding-right: 10px;
    width: auto; /* Adjusting width for responsiveness */
  }

  /* Adjustments for container */
  .container {
    padding-left: 10px;
    padding-right: 10px;
    width: auto; /* Adjusting width for responsiveness */
  }

  /* Adjustments for image */
  .img {
    height: 50px; /* Decrease height for smaller screens */
    padding: 10px 5px; /* Adjust padding */
  }

  /* Adjustments for paragraph */
  .para {
    padding-left: 10px; /* Adjust padding */
    font-size: 16px; /* Adjust font size for smaller screens */
  }
}
